#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

/* ? Use !important to override any css from libraries */
/* .h-world {
  color: rebeccapurple !important;
} */
